body, html {
    height: 100%;
    margin: 0 auto;
  }
  
  .bg {
    /* The image used */
    background-image: url("images/logo.png");
  
    /* Full height */
    height: 100%;
    
    
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

h1 {
  font-family: 'Monoton', cursive;
  font-size: 60px;
  text-align: center;
  color: #c19653;
} 





a {
  position: sticky;
  top: 40px;
  left: 80px;
  font-family: 'Monoton', cursive;
  font-size: 60px;
  color: black;
  text-align: center;
  text-decoration: none;
  background-color: #c19653;
  padding: 10px;

}

a:hover {
  background-color: azure;
}

a:active {
  background-color: black;
  color: #c19653;
}